@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
 box-sizing: border-box;
 padding: 0;
 margin: 0; 
 font-family: 'Poppins', sans-serif;
}

.navbar {
  width: 100%;
  height: 10vh;
  background: black;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  position:fixed;
  width: 100%;
  top:0;
  bottom: 0;
  
}

.footer {
  width: 100%;
  height: 10vh;
  background: black;
  color: white;
  display:flex;
  align-items: center;
  justify-content: center;
}

.news-list {
  padding-top: 50px;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.news-details {
  background-image: url(images/coronavirus-2.jpg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.row1 h1{
  font-size: 3rem;
  padding-top: 150px;
  color: white;
}